<div class="box">
    <div class="wrapper">
        <div class="stack">
            <h2 class="text-align:center max-width:none">A CHURCH THAT'S RELEVANT</h2>
            <div class="grid stack-lg">
                <div class="box invert card stack">
                    <h3>ABOUT US</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quo neque corrupti adipisci iusto saepe necessitatibus quos?</p>
                </div>
                <div class="box invert card stack">
                    <h3>GET INVOLVED</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quo neque corrupti adipisci iusto saepe necessitatibus quos?</p>
                </div>
                <div class="box invert card stack">
                    <h3>GIVING BACK</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quo neque corrupti adipisci iusto saepe necessitatibus quos?</p>
                </div>
            </div>
        </div>
    </div>
</div>