<div class="box invert">
    <div class="wrapper">
        <div class="center stack">
            <h2>HEADLINE</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam repellat inventore odio labore vitae sit, unde incidunt quos, provident nam excepturi? Aspernatur sed ullam deleniti rem sit, odio harum commodi?</p>
            <a href="" class="btn">Button</a>
        </div>
    </div>
</div>