---
layout: base.njk
---

{% include 'partials/header.njk' %}
<main>
  {% include 'partials/cards.njk' %}
  {% include 'partials/center.njk' %}
  {% include 'partials/switcher.njk' %}
  {% include 'partials/switcher-reverse.njk' %}
  {% include 'partials/blog-cards.njk' %}
  {% include 'partials/footer.njk' %}
</main>