---
layout: base.njk
---

{% include 'partials/header.njk' %}
<main>
  <section>
    {% include 'partials/cards.njk' %}
    {% include 'partials/center.njk' %}
    {% include 'partials/switcher-reverse.njk' %}
    {% include 'partials/switcher.njk' %}
  </section>
</main>