<section>
    <div class="box">
        <div class="wrapper">
            <div class="stack">
                <h2 class="text-align:center max-width:none">READ OUR BLOG</h2>
                <div class="grid stack-lg">
                    <div class="box invert card stack">
                        <h3>BLOG TITLE</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quo neque corrupti adipisci iusto saepe
                            necessitatibus quos?</p>
                        <p>
                            <strong>By Alex Blackwell</strong>
                            <br></>
                            September 1, 2022
                        </p>
                    </div>
                    <div class="box invert card stack">
                        <h3>BLOG TITLE</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quo neque corrupti adipisci iusto saepe
                            necessitatibus quos?</p>
                        <p>
                            <strong>By Alex Blackwell</strong>
                            <br></>
                            September 1, 2022
                        </p>
                    </div>
                    <div class="box invert card stack">
                        <h3>BLOG TITLE</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quo neque corrupti adipisci iusto saepe
                            necessitatibus quos?</p>
                        <p>
                            <strong>By Alex Blackwell</strong>
                            <br></>
                            September 1, 2022
                        </p>
                    </div>
                    <div class="box invert card stack">
                        <h3>BLOG TITLE</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quo neque corrupti adipisci iusto saepe
                            necessitatibus quos?</p>
                        <p>
                            <strong>By Alex Blackwell</strong>
                            <br></>
                            September 1, 2022
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>