<div class="box invert">
    <div class="wrapper">
        <div class="grid">
            <div class="stack">
                <h2>Logo</h2>
                <p>
                    <small>1300 E Adams Dr,<br></>
                        Franklin, IN 46131</small>
                </p>
            </div>
            <div class="stack">
                <h3>
                    <small>Quicklinks</small>
                </h3>
                <ul>
                    <li>
                        <small>Link 1</small>
                    </li>
                    <li>
                        <small>Link 2</small>
                    </li>
                </ul>
            </div>
            <div class="stack">
                <h3>
                    <small>Connect</small>
                </h3>
                <small>Links to social</small>
            </div>
            <div class="stack">
                <h3>
                    <small>Subscribe to Newsletter</small>
                </h3>
                <div class="with-sidebar">
                    <input type="text"></>
                    <button>Subscribe</button>
                </div>
            </div>
        </div>
    </div>
</div>