<header>
    <div class="box bg">
        <div class="wrapper">
            <div class="cover">
                <div></div>
                <div class="box centered stack block">
                    <h3>{{ eyebrow }}</h3>
                    <h1>{{ title }}</h1>
                    <a href="/">Button</a>
                </div>
                <div></div>
            </div>
        </div>
    </div>
</header>