{% set currentUrl %}{{ page.url }}{% endset %}
<div class="box nav">
  <div class="wrapper">
    <nav>
      <ul role="list">
        <li>
          <a {% if currentUrl === '/' %} aria-current="page" {% endif %} href="/">Home</a>
        </li>
        {% for page in collections.pages %}
          <li>
            <a {% if currentUrl === page.url %} aria-current="page" {% endif %} href="{{ page.url }}">
              {{ page.data.title }}
            </a>
          </li>
        {%- endfor %}
      </ul>
    </nav>
  </div>
</div>