<section>
    <div class="box">
        <div class="sidebar">
            <div>
                <div class="frame"><img src="../images/skyline.jpg" alt="">
                </div>
            </div>
            <div class="stack">
                <h2>HELLO</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae deleniti libero ipsam, aliquam laborum non sint,
                    possimus expedita error placeat quaerat corrupti accusamus ullam asperiores facilis officiis natus incidunt alias.</p>
            </div>
        </div>
    </div>
</section>