<section>
    <div class="box stack">
        <div class="wrapper">
            <div class="switcher">
                <div class="frame">
                    <img src="../images/p.jpg" alt="">
                </div>
                <div class="stack box" style="justify-content: center;">
                    <h2>HEADLINE</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt et nisi voluptatem porro esse, saepe placeat ipsam
                        modi magnam ullam voluptatibus ea ipsa accusamus tempora quo expedita odit harum enim.</p>
                    <a href="" class="button">Button</a>
                </div>
            </div>
        </div>
    </div>
</section>