<div class="box">
    <div class="switcher">
        <div class="frame">
            <img src="../images/skyline.jpg" alt="">
        </div>
        <div class="stack">
            <h2>HELLO</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt et nisi voluptatem porro esse, saepe placeat ipsam
                modi magnam ullam voluptatibus ea ipsa accusamus tempora quo expedita odit harum enim.</p>
        </div>
    </div>
</div>